*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(250, 221, 221);
    font-family: 'Poppins';
}
.container{
    background-color: #fff;
    width: 98%;
    margin: 0 auto;
    min-height: 1000px;
    display: flex;
}
.sidebar{
    flex: 1;
    background-color: rgb(204, 202, 202);
    padding: 10px;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px;
}
.sidebar input[type="text"]{
    padding: 5px 5px;
    outline: none;
    width: 100%;
    margin-bottom: 15px;
}
.sidebar h3{
    font-weight: 600px;
    font-style: italic;
    margin-bottom: 10px;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li{
    margin: 5px 0;
    padding-left: 5px;
    cursor: pointer;
    color: rgb(68, 67, 67);
}
.sidebar ul li:hover{
    background-color: azure;
}
.content{
    flex: 4;
}
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap:10px
}
.product{
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.product img{
    flex: 1;
}
.product .img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: 0.5s;
    transform: scale(0.75);
}
.product:hover img{
    transform: scale(1);
}
.product .product-details{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-details span:nth-child(1){
    color: rgb(36, 34, 34);
    font-weight: 500;
}
.product-details span:nth-child(2){
    color: rgb(17, 17, 17);
    font-weight: 500;
    font-weight: bold;
}
.product-details span:nth-child(3){
    color: rgb(66, 66, 66);
    font-weight: 500;
    font-style: italic;
}

@media screen and (max-width:600px){
    .container{
        width: 500px;
    }
    .logo{
        font-size: 18px;
    }
    .sidebar{
        width: 100px;
    }
    .sidebar h3{
        font-size: 18px;
    }
    .sidebar input[type="range"]{
        width: 100px;
    }
}
@media screen and (max-width:300px){
    .sidebar h3{
        font-size: 14px;
    }
    .products{
        width: 200px;
        background-size: contain;
    }
    .product .img{
        height: 130px;
        width: 130px;
    }
}